.App {
  text-align: center;
}

.mainHeader {
  font-size: 4rem;
  margin-bottom: 0px;
}

/* Top navigator styling */

.topicNav {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgb(100, 205, 189);
  overflow: hidden;
  width: 98%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.navLink {
  border: 10px;
  background-color: rgb(100, 205, 189);
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1rem;
}

.userNameDisplay {
  font-size: 0.7rem;
  font-weight: normal;
  text-align: right;
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  .navLink {
    font-size: 1.5rem;
  }
  .userNameDisplay {
    font-size: 1rem;
    margin-right: 1.5rem;
  }
}

.topicNav a:hover {
  background-color: rgb(201, 234, 229);
  color: rgb(100, 205, 189);
}

/* Article list layout */

.articleCardTitle {
  color: black;
}
.articleTopicSubHeading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.articlesList {
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.articleCard {
  display: list-item;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  list-style: none;
  width: 60%;
  background-color: rgb(100, 205, 189);
  border: 5px black solid;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  .articleTopicSubHeading {
    font-size: 2.6rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .articleCard {
    margin: 1rem;
    flex: auto;
    list-style: none;
    flex-basis: 25%;
  }

  .articlesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Single article styling */

.singleArticleTitle {
  margin-left: 1rem;
  margin-right: 1rem;
}

.singleArticleByline {
  font-size: 0.8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 0;
}

.singleArticleBody {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}
@media screen and (min-width: 600px) {
  .singleArticleBody {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.5rem;
  }
  .singleArticleTitle {
    font-size: 2.5rem;
  }
}

/* Comments section styling */

.commentCardAuthor {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.commentCardBody {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  background-color: rgb(76, 155, 158);
  border-radius: 10px;
  padding: 1rem;
  color: white;
}

.commentCardTime {
  margin-top: 0.5rem;
}


.commentList {
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.commentCard {
  display: list-item;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  list-style: none;
  width: 90%;
  background-color: rgb(100, 205, 189);
  border: 5px black solid;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  .commentCardAuthor {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

 .commentCard {
    margin: 1rem;
    flex: auto;
    list-style: none;
    max-width: 30%;
 }

  .commentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
 
}

.commentInput {
  height: 3rem;
  width: 40%;
  margin: 10px;
  border-radius: 30px;
  color: rgb(100, 205, 189);
  border-color: rgb(100, 205, 189);
}

.postButton {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: rgb(100, 205, 189);
  color: white;
  padding: 12px;
  border-radius: 20px;
  border: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.postButton:hover {
  background-color: rgb(76, 155, 158);
}

.deleteCommentBtn {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: rgb(205, 100, 112);
  color: white;
  padding: 12px;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  border: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.deleteCommentBtn:hover {
  color: black;
  background-color: rgb(220, 181, 183);
}

